@import "../../../scss/variables";
@import "../../../scss/utils";

.btn {
  &.primary {
    color: $white;
    background-color: $primary;
    &:hover {
      background-color: $primary-light;
    }
    &:disabled {
      background-color: $menu-toggler-bg;
    }
  }
}
