@import "../../scss/utils";
@import "../../scss/variables";

.display-render {
  width: 100%;
  max-width: 1000px;
  max-height: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 4rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-text;
    border-radius: 10px;
  }

  &.light {
    color: darken($menu-toggler-bg, 40%);
  }
  div > * {
    margin-bottom: 1rem !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 1rem 0;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    &:first-child {
      margin-top: 0;
    }
  }
  h1 {
    font-size: 32px;
    line-height: 42px;
  }
  h2 {
    font-size: 28px;
    line-height: 37px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 20px;
    line-height: 26px;
  }
  h5 {
    font-size: 16px;
    line-height: 21px;
  }
  h6 {
    font-size: 14px;
    line-height: 18px;
    color: $primary;
  }
  p {
    color: $color-700;
    margin-bottom: 0.5rem;
  }
  li {
    list-style-position: inside;
    color: $color-700;
  }
  ol,
  ul {
    margin-bottom: 1rem;
  }
  ol {
    padding-left: 24px;
    li {
      list-style-type: decimal;
    }
  }
  ul {
    padding-left: 24px;
    li {
      list-style-type: initial;
      &::marker {
        color: $primary;
      }
    }
  }

  blockquote p {
    font-size: 14px;
    line-height: 24px;
    background: $color-200;
    color: $color-700;
    border-radius: 4px;
    padding: 24px;
    border-left: 4px solid $primary;
    a {
      text-decoration: underline;
      color: $color-700;
    }
  }
  pre {
    background-color: $color-200;
    color: $color-700;
    padding: 24px;
    border-radius: 4px;
  }
  pre p {
    color: $color-700;
  }
}
