@import "../../scss/variables";
@import "../../scss/utils";

.delete-modal {
  padding: 2em;
  background-color: $dark-bg;
  h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    margin-bottom: 1em;
    color: $white;
  }
  p {
    color: $light-text;
  }
  .btns {
    display: flex;
    gap: 1em;
    margin-top: 1em;
  }
  &.light {
    background-color: $white;
    h3 {
      color: #000;
    }
    p {
      color: $menu-toggler-bg;
    }
  }
}
