$white: #ffffff;
$header-bg: #343a40;
$light-bg: #e9ecef;
$light-text: #adb5bd;
$header-divider: #6c757d;
$sidebar-title: #adb5bd;
$light-white-text: #f8f9fa;
$dark-bg: #212529;
$light-bg: #e9ecef;
$editor-bg: #151619;
$menu-toggler-bg: #495057;
$theme-toggle-bg: #6c757d;
$blue: #439ce4;
$primary: #e46643;
$primary-light: #f39765;
$dark-modal-bg: #151619;
$red: #e44343;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", monospace;
$transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
$sidebar-width: 300px;

$color-200: #f5f5f5;
$color-300: #e4e4e4;
$color-400: #c1c4cb;
$color-500: #7c8187;
$color-600: #5a6069;
$color-700: #35393f;
$color-800: #2b2d31;
$color-900: #1d1f22;
$color-1000: #151619;
